.quote {

    &__wrp {
        background-color: white;
        width: 20em;
        border-radius: .75em;
        transition: transform 0.2s ease-in-out;
        box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),0 4px 6px -2px rgba(0,0,0,0.05);

        &:hover {
            transform: rotate(-2deg);
        }
    }

    &__sentence {
        color: black;
        font-size: 22px;
        line-height: 1.6;
        font-weight: 600;
        border-top-left-radius: .75em;
        border-top-right-radius: .75em;
        padding: 1.5em;
    }

    &__icon {
        opacity: 0.3;
        font-size: 1.7em;
    }

    &__tweet {
        color: rgb(255,237,213);
        opacity: 0.6;
        font-size: 1.7em;
        cursor: pointer;
        &:hover {
            opacity: 1;
        }
    }
    
    &__footer {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        color: white;
        font-size: 18px;
        line-height: 1.4;
        font-weight: 600;
        border-bottom-left-radius: .75em;
        border-bottom-right-radius: .75em;
        padding: 2em 1.5em;

        button {
            background: none;
            border: 0;
            box-shadow: none;
            outline: 0;
        }
    }

}